.button {
    height: 3rem;
    border: 1px solid var(--color-gray-dark);
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.button__small{
    /* width: 12rem; */
    width: 50%;
}

.button__large{
    width: 100%;
}
.btn__color{
    color:#fff;
    background-color: var(--color-primary);
}

.button p {
    font-size: 0.875rem;
}
/* 
.button:disabled{
    background-color: var(--color-gray-light);
} */

/* @media (max-width: 300px) {
    .button{
        width: 35%;
    }
} */